In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
from numpy.random import randn

In [10]:
ser1 = Series([1,2,3,4], index =['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [13]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [15]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [16]:
ranger = range(15)
ranger

range(0, 15)

In [19]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [21]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.373020 -0.284975 -1.784690  0.638851 -0.059030
B -0.574452 -0.789844  0.580716 -0.245987 -0.468399
D  0.539375 -1.431110  0.997506  2.284193 -1.067956
E -0.149502  0.589130 -0.683263 -0.010301 -0.913302
F  0.050611  0.538829 -1.268777 -1.484243 -0.449702

In [23]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.373020 -0.284975 -1.784690  0.638851 -0.059030
B -0.574452 -0.789844  0.580716 -0.245987 -0.468399
C       NaN       NaN       NaN       NaN       NaN
D  0.539375 -1.431110  0.997506  2.284193 -1.067956
E -0.149502  0.589130 -0.683263 -0.010301 -0.913302
F  0.050611  0.538829 -1.268777 -1.484243 -0.449702

In [24]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [25]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -1.373020 -0.284975 -1.784690  0.638851 -0.059030   NaN
B -0.574452 -0.789844  0.580716 -0.245987 -0.468399   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.539375 -1.431110  0.997506  2.284193 -1.067956   NaN
E -0.149502  0.589130 -0.683263 -0.010301 -0.913302   NaN
F  0.050611  0.538829 -1.268777 -1.484243 -0.449702   NaN

In [30]:
dframe.ix(['A','B','C','D','E','F'], new_columns)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given