In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
animals = DataFrame(np.arange(16).reshape(4,4),columns=['W','X','Y','Z'],index=['Dog','Cat','Bird','Mouse'])

In [10]:
animals.loc[['Dog','Cat'],['W','Y']]

     W  X
Dog  0  1
Cat  4  5

In [17]:
animals.loc[['Cat','Bird'],['W','Y']] = np.nan

In [18]:
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    NaN   9   NaN  11
Mouse  12.0  13  14.0  15

In [19]:
begavion_map = {'W':'good','X':'bad','Y':'good','Z':'bad'}

In [21]:
animal_col = animals.groupby(begavion_map,axis = 1)

In [22]:
animal_col.sum()

        bad  good
Dog     4.0   2.0
Cat    12.0   0.0
Bird   20.0   0.0
Mouse  28.0  26.0