In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t  appple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
dframe = pd.read_csv('lec25.csv',header = None)
dframe

   0  1  2  3       4
0  q  r  s  t  appple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [20]:
dframe = pd.read_table('lec25.csv',sep=',',header=None)
dframe

   0  1  2  3       4
0  q  r  s  t  appple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [27]:
dframe = pd.read_csv('lec25.csv',header=None, nrows=2)
dframe

   0  1  2  3       4
0  q  r  s  t  appple
1  2  3  4  5    pear

In [28]:
dframe = dframe.append([['q','w','e','r','seagull']],ignore_index=True)
dframe

   0  1  2  3        4
0  q  r  s  t   appple
1  2  3  4  5     pear
2  q  w  e  r  seagull

In [29]:
dframe.to_csv('mytextdata.csv')

In [30]:
import sys

In [31]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,appple
1,2,3,4,5,pear
2,q,w,e,r,seagull

In [34]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?appple
1?2?3?4?5?pear
2?q?w?e?r?seagull

In [35]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,q,w,e