In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

arr1 = np.arange(9).reshape(3,3)
arr1

In [5]:
np.concatenate([arr1, arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [6]:
np.concatenate([arr1, arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
ser1 = Series([0,1,2], index=['T','U','V'])
ser2 = Series([3,4],index=['X','Y'])

In [8]:
ser1

T    0
U    1
V    2
dtype: int64

In [9]:
ser2

X    3
Y    4
dtype: int64

In [10]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [11]:
pd.concat([ser1,ser2],axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [12]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [13]:
dframe1 = DataFrame(np.random.randn(4,3),columns=['X','Y','Z'])
dframe2 = DataFrame(np.random.randn(3,3),columns=['Y','Q','X'])

In [14]:
dframe1

          X         Y         Z
0  0.508460 -1.028371  0.829132
1  1.054250  0.814510  0.032929
2 -0.777577  0.681378  1.033731
3 -0.366277  0.778286 -0.151712

In [15]:
dframe2

          Y         Q         X
0 -0.632478 -0.279938  0.947788
1  1.141859 -0.548221  1.517689
2 -0.485494  0.559143 -0.675501

In [17]:
pd.concat([dframe1,dframe2])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

          Q         X         Y         Z
0       NaN  0.508460 -1.028371  0.829132
1       NaN  1.054250  0.814510  0.032929
2       NaN -0.777577  0.681378  1.033731
3       NaN -0.366277  0.778286 -0.151712
0 -0.279938  0.947788 -0.632478       NaN
1 -0.548221  1.517689  1.141859       NaN
2  0.559143 -0.675501 -0.485494       NaN

In [19]:
pd.concat([dframe1,dframe2],ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

          Q         X         Y         Z
0       NaN  0.508460 -1.028371  0.829132
1       NaN  1.054250  0.814510  0.032929
2       NaN -0.777577  0.681378  1.033731
3       NaN -0.366277  0.778286 -0.151712
4 -0.279938  0.947788 -0.632478       NaN
5 -0.548221  1.517689  1.141859       NaN
6  0.559143 -0.675501 -0.485494       NaN