In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# JSON (JavaScript Object Notation) のサンプル。
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [4]:
import json

In [25]:
data = json.loads(json_obj)
type(data)

dict

In [22]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [24]:
dframe = DataFrame(data['diet'])
dframe

  zoo_animal   food    fur
0    Gazelle  grass  Brown